<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">登录</h3>
            </div>
            <div class="panel-body">
                <%= form_with(model: user, url: admin_login_path, scope: :session) do |f| %>
                    <div class="form-group">
                        <%= f.label :email, "邮箱" %>
                        <%= f.text_field :email %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, "密码" %>
                        <%= f.password_field :password %>
                    </div>
                    <div class="form-group">
                        <%= f.submit '登录' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
