.main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 300px;
    display: flex;
}

.left-nav {
    padding-left: 0;
}

.my-container {
    flex: 1;
    display: flex;
}
