<!DOCTYPE html>
<html>
  <head>
    <title>管理员界面</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <h2><%= notice %></h2>
    <% end %>
    <div class="main">
        <div id="sidebar">
            <ul class="left-nav">
                <li><%= link_to '主页', '#' %></li>
                <li><%= link_to '新闻列表','#' %></li>
                <li><%= link_to '咨询列表','#' %></li>
            </ul>
        </div>
        <div class="my-container">
            <%= yield %>
        </div>
    </div>
  </body>
</html>
