<!DOCTYPE html>
<html>
  <head>
    <title>登录界面</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if notice %>
        <h2><%= notice %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
